exportPattern("^[[:alpha:]]+")
exportMethods(
    "Age",
    "Food",
    "Grow",
    "Hunting",
    "IDretrieve",
    "initialize",
    "Num_off",
    "Sex",
    "show",
    "Size",
    "Surv" 
)
exportClasses(
    "Leprechaun" 
)
